* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(250, 243, 214);
}

.nav {

}

nav. a.hide {

}


#menu {
    position: fixed;
    height: 100v;
    width: 200px;
    background-color: black;
    color:white;
}


/* _______COMPONENTS_________ */

.card {
    background: #fff;
    padding: 15px;
    height: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    color: #000000;
}

